
html{
  background-image: linear-gradient(to right, darkgray, gray);
}

#header{
    background-image: linear-gradient(to right, gray, black);
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
}
#titleMain {
  margin-top: 0px;
  font-size: 30px;
  font: 200;
  color: black;
  padding: 4px;
  background-color: #f5C518;
  border-radius: 0.1cm;
  height: 40px;
}

#title { 
  margin-top: 0px;
  font-size: 30px;
  font: 200;
  color: black;
  padding: 4px;
  background-image:linear-gradient(to right,#f5C518, black);
  border-radius: 0.1cm;
  height: 40px;
}

#aside {
   padding: 10px;
   
   margin-right: 50px;
}


#search {
    
}

.enterCity {
    font-weight: 100;
}

#explanation {
    margin-top: 10px;
    margin-left: 1px;
    height: 200px;
    border-style: outset;
    background-image: linear-gradient(to right,#f5C518, black);
    border: black;
    border-style: solid;
    
}
#explanation p {
  margin-left: 5px;
  text-align: center;
}

#myList {
  text-align: center;
   margin-top: 10px;
   height: 400px;
   background-image: linear-gradient(to right,#f5C518, black);
}
#myList p {
  margin-left: 5px;
}

#poster {
    
    margin: 0 10px;
    
    
    right: 0px;
}



ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  ul.tabs > li {
    float: left;
    margin: 0 25px;
    padding: 10px;
    background-color: lightgray;
  }
  ul.tabs > li:hover {
    background-color: black;
    color: white;
  }
  ul.tabs > li.selected {
    background-color: lightgray;
  }
  ul {
    overflow: auto;
  }

.choices {
  display: flex;
  justify-content: end;
  padding: 2px;
  margin: 2px;

}
.pure-button {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #f5C518;
}

.pure-button:hover {
  background: black;
  color: #f5C518;
}

#poster img {
  height: 600px;
  width: 520;
}

#movieInfo {
    font-size: 30px;
}

#movieInfo h3 {
    display: block;
    text-align: center;
}

