ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tabs > li {
  float: left;
  padding: 10px;
  background-color: lightgray;
}

ul.tabs > li:hover {
  background-color: lightgray;
}

ul.tabs > li.selected {
  background-color: lightgray;
}

div.content {
  border: 1px solid black;
}

ul {
  overflow: auto;
}
#iframe {
  border-top: black solid 5px;
}
